* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	/* font-size: 10px,  cux the original is 16px, so I did (10/16)*100= 62.5%, so that 1rem = 10px */
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background-color: #212d40;
	color: #faedcd;
	font-family: "Rubik", sans-serif;
}
/* ************* */
/*    NAV BAR    */
/* ************* */
.sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
}

#CoolCats-header {
	text-align: center;
	font-size: 4.4rem;
	padding: 1.4rem 0 1.6rem 0;
}
.navbar {
	background-color: #415a77;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	z-index: 10;
	overflow: hidden;
}
nav {
	border-radius: 20px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	position: relative;
}
.nav-link {
	color: #fff;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1.2rem 3.2rem;
	background-color: #778da9;
	display: block;
}
/* hover effects and colours for nav drop down menu */
.nav-link:hover {
	background-color: rgba(93, 115, 145, 0.95);
	color: #ccc;
}
.dropdown li a {
	background-color: rgba(93, 115, 145, 0.95);
}
.dropdown li a:hover {
	background-color: rgba(119, 141, 169, 0.95);
}
.sub-dropdown li a {
	background-color: rgba(72, 94, 120, 0.95);
}
.sub-dropdown li a:hover {
	background-color: rgba(93, 115, 145, 0.95);
}
nav .dropdown {
	position: absolute;
	display: none;
}
nav ul li {
	position: relative;
}
.sub-dropdown {
	left: 100%;
	top: 0;
	width: 20rem;
}
nav ul li:hover > ul {
	display: block;
}
/* ************* */
/*    HERO CONT  */
/* ************* */
#home-hero {
	height: 55rem;
	margin-top: 9rem;
	background-image: url(../img/hero-img.webp);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1.6rem;
}
#hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#hero-title {
	font-size: 9.8rem;
	font-weight: 800;
	color: #222;
}
.hero-paragraph {
	color: #222;
	font-weight: 600;
	font-size: 2.4rem;
}
.adopt-btn:link,
.adopt-btn:visited {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 14rem;
	margin-top: 5rem;
	backdrop-filter: blur(3px);
	background-color: rgba(76, 117, 173, 0.274);
	text-decoration: none;
	border-radius: 12px;
	border: solid 2px #222;
	color: #222;
	font-size: 2rem;
	font-weight: 800;
	box-shadow: 0 20px 60px 1px rgba(0, 0, 0, 0.541);
	transition: 0.5s;
}
.adopt-btn:active,
.adopt-btn:hover {
	scale: 1.08;
	cursor: pointer;
	color: #d17b03;
	backdrop-filter: blur(30px);
	box-shadow: 0 0 20px 20px rgba(255, 154, 154, 0.185);
	border: solid 2px #d17b03;
}
/* ************* */
/*   LOGOS SLIDER  */
/* ************* */
/* #logo-slider-header {
	text-align: center;
	margin-bottom: 3.2rem;
	font-size: 2.4rem;
	text-transform: uppercase;
	color: #666;
	font-weight: 700;
} */

#logos-slider {
	padding-top: 10rem;
}
#slide-track {
	display: flex;
	flex-direction: row-reverse;
	gap: 8.6rem;
	padding: 4.8rem;
	width: 100%;
	animation: scroll 300s linear infinite;
}

#slider-background {
	background-color: rgb(140, 155, 173);
}
.slide-logo {
	height: 8.6rem;
	width: 100%;
	display: flex;
}
.slide-logo img {
	height: 100%;
	filter: brightness(0);
	opacity: 40%;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(1000%);
	}
}

/* ************* */
/*   INTRO CONT  */
/* ************* */
#home-intro {
	position: relative;
	height: 60rem;
	display: flex;
	justify-content: center;
}
#intro-box {
	background-color: rgb(64, 89, 117);
	border-radius: 40px;
	padding: 9.6rem;
	display: flex;
	gap: 6.4rem;
	box-shadow: 0 30px 100px 1px rgba(0, 1, 21, 0.775);
	position: absolute;
	z-index: 1;
	transform: translateY(15rem);
}
#intro-text-cont {
	width: 50rem;
}
#intro-img-cont {
	height: 25rem;
	width: 25rem;
	border: 3px dashed black;
}
#intro-title {
	margin-bottom: 1.8rem;
}
#intro-subheading {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

/* ************* */
/*   PARALLEX 01 */
/* ************* */
#home-parallex-one {
	background-image: url(../img/home-parallex-01.webp);
	height: 45rem;
	margin-top: -20rem;
}

/* ************* */
/*   PARALLEX 01 */
/* ************* */
#meet-the-team {
	margin: 9.6rem 0;
}
#meet-the-team-header {
	color: #a073c2;
	text-align: center;
	margin: 3.2rem 0 3.2rem 0;
}
#team-cat-four {
	background-color: #778da9;
	height: 30rem;
	border-radius: 40px;
	box-shadow: 0 30px 100px 1px rgba(0, 1, 21, 0.775);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.team-cat {
	width: 20rem;
	height: 20rem;
	background-size: contain;
	transition-duration: 0.3s;
}
#cat-one {
	background-image: url(../img/home-cat-team/cat-one.webp);
}
#cat-one:hover {
	background-image: url(../img/home-cat-team/cat-one-hover.webp);
}
#cat-two {
	background-image: url(../img/home-cat-team/cat-one.webp);
}
#cat-two:hover {
	background-image: url(../img/home-cat-team/cat-one-hover.webp);
}
#cat-three {
	background-image: url(../img/home-cat-team/cat-one.webp);
}
#cat-three:hover {
	background-image: url(../img/home-cat-team/cat-one-hover.webp);
}
#cat-four {
	background-image: url(../img/home-cat-team/cat-one.webp);
}
#cat-four:hover {
	background-image: url(../img/home-cat-team/cat-one-hover.webp);
}

.cat-box-cont:hover > p {
	color: #e8cbe5;
	transition-duration: 0.3s;
}
.cat-box-cont {
	text-align: center;
}
.cat-name {
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 1px;
	color: #083e4e;
}
.cat-position {
	font-size: 1.6rem;
	font-weight: 500;
	color: #10556a;
}
/* ************* */
/*   FUN FACTS   */
/* ************* */
#fun-facts {
	height: 75rem;
}
#fun-facts-header {
	margin-top: 24rem;
	text-align: center;
}
#f-f-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-top: 30rem;
}
.f-f-card {
	border-radius: 40px;
	position: absolute;
}
#f-f-card-one {
	background-color: #a073c2;
	width: 50rem;
	font-size: 4.4rem;
	padding: 7rem 4.8rem;
	transform: translate(33rem, -10rem);
	box-shadow: 0 0 80px 10px rgba(162, 16, 198, 0.301);
	/* box-shadow: 0 30px 100px 1px rgba(42, 42, 42, 0.395); */
}
#f-f-card-two {
	background-color: rgb(127, 171, 40);
	width: 70rem;
	font-size: 5.2rem;
	padding: 7rem;
	z-index: -1;
	transform: translate(-16rem, 4rem);
	box-shadow: 0 0 150px 10px rgba(174, 227, 15, 0.233);
}
#f-f-card-three {
	background-color: orange;
	padding: 3rem;
	transform: translate(21rem, 20rem);
	box-shadow: 0 0 80px 10px rgba(255, 136, 0, 0.477);
}
#f-f-card-heart {
	width: 10rem;
	height: 10rem;
}

/* ************* */
/*   TEXT SECTION SURROUNDED BY A PARALLEX */
/* ************* */
.home-parallex-three {
	background-image: url(../img/home-parallex-03.webp);
	height: 12.8em;
}
#p-three-text {
	padding: 6.4rem 3.2rem;
	width: 75rem;
	text-align: center;
	line-height: 3.2rem;
	font-size: 1.8rem;
}
#p-three-text-cont {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ************* */
/*  'WHY' SECTION  */
/* ************* */
#why-header {
	text-align: center;
	margin-top: 8rem;
}
#why-both-cards {
	display: flex;
	justify-content: center;
	gap: 8rem;
	margin: 4.8rem 0;
}
.why-card-img-cont {
	height: 23rem;
	width: 23rem;
	border: 2px dashed black;
	margin: 0 auto;
}
.why-card {
	padding: 4.8rem;
	border-radius: 40px;
	box-shadow: 0 30px 100px 1px rgba(0, 1, 21, 0.775);
}
.dis-why-card {
	background-image: linear-gradient(to top, #c1121f, #a83638);
}
.pos-why-card {
	background-image: linear-gradient(to top, #386641, #6a994e);
}
.why-card-list {
	margin-top: 2.8rem;
}
.why-card-list li {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 2rem;
}
.why-card-dis-crosses,
.why-card-adv-ticks {
	font-size: 2.4rem;
	--ionicon-stroke-width: 3.2rem;
}
.why-card-dis-crosses {
	color: #4c0106;
}
.why-card-adv-ticks {
	color: #00430f;
}
