* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	/* font-size: 10px,  cux the original is 16px, so I did (10/16)*100= 62.5%, so that 1rem = 10px */
	font-size: 62.5%;
	overflow-x: hidden;
}

body {
	background-color: #212d40;
	color: #faedcd;
	font-family: "Rubik", sans-serif;
}

.center-page {
	width: 100rem;
	margin: 0 auto;
}
/* ************* */
/*    NAV BAR    */
/* ************* */
#CoolCats-header {
	text-align: center;
	font-size: 4.4rem;
	padding: 1.4rem 0 1.6rem 0;
}
.navbar {
	background-color: #415a77;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
nav {
	border-radius: 20px;
}
.border-radius-left {
	border-top-left-radius: 12px;
}
.border-radius-right {
	border-top-right-radius: 12px;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	position: relative;
}
.nav-link {
	color: #ddd;
	text-decoration: none;
	font-size: 1.2rem;
	padding: 1.2rem 2.6rem;
	background-color: #778da9;
	display: block;
}
/* hover effects and colours for nav drop down menu */
.nav-link:hover {
	background-color: rgba(93, 115, 145, 0.95);
	color: #ccc;
}
.dropdown li a {
	background-color: rgba(93, 115, 145, 0.95);
}
.dropdown li a:hover {
	background-color: rgba(119, 141, 169, 0.95);
}
.sub-dropdown li a {
	background-color: rgba(72, 94, 120, 0.95);
}
.sub-dropdown li a:hover {
	background-color: rgba(93, 115, 145, 0.95);
}
nav .dropdown {
	position: absolute;
	display: none;
}
nav ul li {
	position: relative;
}
.sub-dropdown {
	left: 100%;
	top: 0;
	width: 15rem;
}
nav ul li:hover > ul {
	display: block;
}

/* ************* */
/*    HERO CONT  */
/* ************* */
#home-hero {
	margin: 6.4rem 0;
}
#hero-box {
	background-color: rgba(64, 89, 117, 0.8);
	border-radius: 5rem;
	padding: 4.8rem;
	display: flex;
	gap: 6.4rem;
	box-shadow: 0 30px 100px 1px rgba(0, 1, 21, 0.775);
}
#hero-text-cont {
	width: 50rem;
}
#hero-img-cont {
	height: 25rem;
	width: 25rem;
	background-color: black;
}
.hero-title {
	font-size: 4.4rem;
	font-family: "Rubik";
	font-weight: 700;
	margin-bottom: 1.8rem;
}
#hero-subheading {
	font-size: 2.4rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
#hero-text {
	color: #faedcd;
	font-size: 1.6rem;
	line-height: 2.4rem;
}
